# Day 4 hw
# Load packages

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from scipy import stats
import statsmodels.formula.api as smf
import statsmodels.api as sm

# Load the data files

In [10]:
f1= pd.read_csv("https://www.dropbox.com/s/g47l2r2kmjfzst2/aau1043_dnm.tsv?dl=1")
f1

,Chr,Pos,Ref,Alt,Proband_id,Phase_combined,Crossover,Sanger
0,chr1,241097646,C,T,99379,father,paternal_crossover,confirmed
1,chr10,29202943,A,G,8147,father,maternal_crossover,PCR failed
2,chr11,129441657,C,T,5410,mother,maternal_crossover,confirmed
3,chr13,96867147,A,G,46025,father,paternal_crossover,confirmed
4,chr17,50609998,C,T,144769,mother,maternal_crossover,confirmed
...,...,...,...,...,...,...,...,...
26426,chr9,137374330,C,T,54383,father,NaN,NaN
26427,chr9,137396508,C,T,39729,father,NaN,NaN
26428,chr9,137633973,C,A,17904,mother,NaN,NaN
26429,chr9,137889777,G,A,80108,father,NaN,NaN
26430,chr9,138177157,G,A,110977,father,NaN,NaN

In [126]:
f2=pd.read_csv("https://www.dropbox.com/s/vxc4tw1qv7j4s4h/aau1043_parental_age.tsv?dl=1")
f2

     Proband_id  Father_age  Mother_age
0           675          31          36
1          1097          19          19
2          1230          30          28
3          1481          32          20
4          1806          38          34
..          ...         ...         ...
391      153657          27          23
392      154565          36          30
393      154621          19          18
394      154810          32          28
395      154936          30          34

[396 rows x 3 columns]

In [17]:
# f1.loc[:,"Phase_combined"]
# pat_dnm= f1.loc[:"father"]
# pat_dnm

,Chr,Pos,Ref,Alt,Proband_id,Phase_combined,Crossover,Sanger
0,chr1,241097646,C,T,99379,father,paternal_crossover,confirmed
1,chr10,29202943,A,G,8147,father,maternal_crossover,PCR failed
2,chr11,129441657,C,T,5410,mother,maternal_crossover,confirmed
3,chr13,96867147,A,G,46025,father,paternal_crossover,confirmed
4,chr17,50609998,C,T,144769,mother,maternal_crossover,confirmed
...,...,...,...,...,...,...,...,...
26426,chr9,137374330,C,T,54383,father,NaN,NaN
26427,chr9,137396508,C,T,39729,father,NaN,NaN
26428,chr9,137633973,C,A,17904,mother,NaN,NaN
26429,chr9,137889777,G,A,80108,father,NaN,NaN
26430,chr9,138177157,G,A,110977,father,NaN,NaN

In [132]:
x=f1.loc[:,"Proband_id"]
x.value_counts()
total_dnm = x.value_counts()
total_dnm.rename("total_muts", inplace=True)

91410     122
114094    121
111288    115
8147      114
88246     113
         ...
121087     37
62630      34
76504      34
37789      34
13990      33
Name: total_muts, Length: 396, dtype: int64

# Count for paternal proband IDs

In [85]:
father=f1.loc[:,"Phase_combined"] == "father"
pat_dnm= f1.loc[father,:]
pat_dnm2=pat_dnm.loc[:,"Proband_id"]
pat_dnm2.value_counts()

675

In [41]:
mother=f1.loc[:,"Phase_combined"] == "mother"
mat_dnm= f1.loc[mother,:]
mat_dnm2=mat_dnm.loc[:,"Proband_id"]
mat_dnm2.value_counts()

112917    32
13191     31
101332    30
142988    29
14991     28
          ..
93086      4
130614     3
37789      3
113829     3
121087     1
Name: Proband_id, Length: 396, dtype: int64

# merge the data frame

In [129]:
pat_dnm3=pat_dnm2.value_counts()
pat_dnm3.rename('father_muts', inplace=True)

91410     111
114094     98
111288     93
99984      91
64166      88
         ...
76504      27
1097       26
13990      25
36430      25
37789      17
Name: father_muts, Length: 396, dtype: int64

In [74]:
#pat_dnm2.rename('Proband_id', inplace=True)

0         99379
1          8147
3         46025
6         24464
9          5494
          ...
26425     96471
26426     54383
26427     39729
26429     80108
26430    110977
Name: Proband_id, Length: 20598, dtype: int64

In [135]:
# merge1=f2.merge(pat_dnm3, left_on="Proband_id", right_on="Proband_id")

concat = pd.concat([pat_dnm3, mat_dnm3, total_dnm], axis=1)
concat['Proband_id'] = concat.index

concat
# f2.merge(concat, left_on='Proband_id')

        father_muts  mother_muts  total_muts  Proband_id
675              51           19          70         675
1097             26           12          39        1097
1230             42           12          57        1230
1481             53           14          68        1481
1806             61           11          78        1806
...             ...          ...         ...         ...
153657           41            8          49      153657
154565           61           14          75      154565
154621           39           11          50      154621
154810           55           14          69      154810
154936           36           16          53      154936

[396 rows x 4 columns]

In [139]:
merge1=f2.merge(concat, left_on='Proband_id', right_on='Proband_id')
merge1

     Proband_id  Father_age  Mother_age  father_muts  mother_muts  total_muts
0           675          31          36           51           19          70
1          1097          19          19           26           12          39
2          1230          30          28           42           12          57
3          1481          32          20           53           14          68
4          1806          38          34           61           11          78
..          ...         ...         ...          ...          ...         ...
391      153657          27          23           41            8          49
392      154565          36          30           61           14          75
393      154621          19          18           39           11          50
394      154810          32          28           55           14          69
395      154936          30          34           36           16          53

[396 rows x 6 columns]

In [130]:
mat_dnm3=mat_dnm2.value_counts()
mat_dnm3.rename('mother_muts', inplace=True)

112917    32
13191     31
101332    30
142988    29
14991     28
          ..
93086      4
130614     3
37789      3
113829     3
121087     1
Name: mother_muts, Length: 396, dtype: int64

# plot the mutations vs age